/* Detail.module.css */

.detailsContainer {
    border: 2px solid white; /* Borde blanco */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #bfe1ff; /* Fondo celeste claro */
    padding: 16px;
    margin: 16px; /* Ajusta el margen según tus necesidades */
    text-align: center;
  }
  
  .gameTitle {
    border: 2px solid white; /* Borde blanco para el título */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #1a73e8; /* Fondo azul oscuro */
    padding: 8px;
    margin: 0;
  }
  
  .gameTitle h1 {
    color: white; /* Texto blanco para el título */
    margin: 0;
  }
  
  .description {
    border: 2px solid white; /* Borde blanco para la descripción */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #bfe1ff; /* Fondo celeste claro */
    padding: 16px;
    text-align: left;
  }
  
  .gameImage {
    width: 40cm; /* Ancho fijo de 10 cm */
    height: 20cm; /* Alto fijo de 10 cm */
    max-width: 100%; /* Para asegurarse de que la imagen no se estire */
    border: 2px solid white; /* Borde blanco para la imagen */
    border-radius: 10px; /* Bordes redondeados */
  }
  
  
  
  .genres, .releaseDate, .rating {
    border: 2px solid white; /* Borde blanco para las propiedades */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #bfe1ff; /* Fondo celeste claro */
    padding: 16px;
    text-align: left;
  }
  .gameImageSize {
    width: 40cm; /* Ancho fijo de 10 cm */
    height: 20cm; /* Alto fijo de 10 cm */
    max-width: 100%; /* Para asegurarse de que la imagen no se estire */
    border: 2px solid white; /* Borde blanco para la imagen */
    border-radius: 10px; /* Bordes redondeados */
  }
  .buttonEntryStyle {
    background-color: red;
    color: white;
    padding: 5px 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top:10px;
    margin-right: 10px; /* Modifica esto según tus necesidades */
    font-size: 36px;
  }
  