

.detailsContainer {
    border: 2px solid white; 
    border-radius: 10px; 
    background-color: #bfe1ff47; 
    padding: 16px;
    margin: 16px; 
    text-align: center;
  }
  
  .gameTitle {
    border: 2px solid white; 
    border-radius: 10px; 
    background-color: #1a73e8; 
    padding: 8px;
    margin: 0;
  }
  
  .gameTitle h1 {
    margin: 0;
  }
  
  .description {
    border: 2px solid white; 
    border-radius: 10px;
    background-color: #bfe1ff; 
    padding: 16px;
    text-align: left;
  }
  
  .gameImage {
    width: 40cm; 
    height: 20cm; 
    max-width: 100%; 
    border: 2px solid white; 
    border-radius: 10px; 
  }
  
  
  
  .genres, .releaseDate, .rating {
    border: 2px solid white; 
    border-radius: 10px; 
    background-color: #bfe1ff; 
    padding: 16px;
    text-align: left;
  }
  .gameImageSize {
    width: 40cm; 
    height: 20cm; 
    max-width: 100%; 
    border: 2px solid white; 
    border-radius: 10px; 
  }
  .buttonEntryStyle {
    background-color: red;
    color: white;
    padding: 5px 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top:5px;
    margin-right: 1px;
    font-size: 30px;
  }
  