.appBackground {
  background-image: url("../../client/src/assets/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  box-sizing: border-box;
  overflow: scroll;
}