/* Card.module.css */

.card {
  border: 2px solid white; /* Borde blanco */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #bfe1ff; /* Fondo celeste claro */
  padding: 16px;
  margin: 16px; /* Ajusta el margen según tus necesidades */
  max-width: 300px;
  text-align: center;
}

.card img {
  width: 7cm; /* Ancho fijo de 3 cm */
  height: 5cm; /* Alto fijo de 5 cm */
  max-width: 100%; /* Para asegurarse de que la imagen no se estire */
}

.card h3 {
  margin: 8px 0;
}

.card p {
  color: #555;
}
