/* Agrega estos estilos a tu archivo 'HomePage.module.css' */

.homePage {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  border-width: 5%;
  }

.pageTitle {
  color:rgb(255, 255, 255);
  background-color: rgba(40, 18, 209, 0.756);
  margin: 0;
  padding: 10px;
  font-size: 45px;
  width: 50%;
  text-align: center; 
  margin: 0 auto;
  border-radius: 10px; /* Bordes redondeados */
  border: 6px solid black;
}

.buttonContainer {
  display: flex;
  justify-content: space-between; /* Cambiado a 'space-between' para alinear los botones a los lados */
  margin-top: 25px;
}

.createButton {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

.filterContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 45px;
}

.filterTitle {
  margin: 0;
  margin-right: 10px;
  font-size: 25px;
}

.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid red;
  border-radius: 5px;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin-top: 10px;
}

.pageItem {
  margin: 0 5px;
}

.pageLink {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.activePage {
  background-color: #0099b5;
  color: white;
}

.sortSelect {
  padding: 10px;
  font-size: 16px;
  border: 1px solid red;
  border-radius: 5px;
  /* Agrega cualquier otro estilo que desees para los filtros de ordenamiento */
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
  border: 6px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  color:rgb(255, 255, 255);
  background-color: rgba(40, 18, 209, 0.756);
}

.filtersGroup {
  display: flex;
  flex-direction: column;
}

.buttonSmall {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

/* Agrega cualquier otro estilo adicional que desees para los filtros */

/* Agrega estos estilos a tu archivo 'HomePage.module.css' */
/* Modifica los estilos en tu archivo 'HomePage.module.css' */
/* Modifica los estilos en tu archivo 'HomePage.module.css' */
.gameConsultTitle {
 color:rgb(255, 255, 255);
  background-color: rgba(40, 18, 209, 0.756);
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Aumenta el espacio interno para hacerlo más alto */
  width: 50%; /* Establece el ancho al 50% del contenedor */
  text-align: center; /* Alinea el texto al centro horizontalmente */
  margin: 0 auto; /* Centra horizontalmente dentro de su contenedor */
  font-size: 85px;
  border: 6px solid black;
}

.imageLoading {
  width: 15%; /* Reduce el ancho al 50% */
  height: 15%; /* Reduce la altura al 50% */
  opacity: 0.8;
}
