.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .input-field {
    flex: 3; 
  }
  
  .search-input {
    width: 70%; 
    padding: 10px;
    font-size: 18px; 
    border: none;
    border-radius: 5px;
    margin-right: 10px; 
  }
  
  .buttonSmall {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
  }
  